<%- include('header'); -%>

    <div class="box">
        <h1 ><%=Title%></h1>
    </div>

    <div class="box">
        <% todoItems.forEach((item)=>{%>
            <div class="tile">
                <form action="/delete" method="post">
                    <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange=this.form.submit()>
                    <p><%=item.name%></p>
                    <input type="hidden" value="<%= Title %>" name="ListName">
                </form>
            </div>
        <%});%>
            
        
        <form action="/" method="post" class="tile">
            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="button" value="<%=Title%>">+</button>
        </form>
    </div>

<%- include('footer'); -%>